<!DOCTYPE html>

@using System.Data;
@using XmlCrud.App_Code;

@{
    Pokoes mySongMethods = new Pokoes();
    string filePath = (@"~\App_Data\playlist.xml");
    DataSet ds = mySongMethods.GetAllSongs(filePath);
    Session["playlistClass"] = mySongMethods;
    Session["filePath"] = filePath;
}
<html>
<head>
    <title>XmlCrud</title>
    <link href="~/Content/bootstrap.min.css" rel"stylesheet" />
    <link rel="stylesheet" href="~/index.css" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    
</head>
<body>
    <div id="container">

            
        <header>Pokoes</header>
        <nav id="navbar">
            <ul id="navlist">
                <li><a href="CreateSong.cshtml" class="menu_item">create song</a></li>
            </ul>
        </nav>
        <main>
            <table class="d-table" border="1">
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Artist</th>
                    <th>Year</th>
                    <th>Genre</th>
                    <th>File</th>
                    <th>play/pause</th>
                </tr>

                @foreach (DataRow dr in ds.Tables["song"].Rows)
                {
                    <tr>
                        <td>@dr["id"]</td>
                        <td>@dr["title"]</td>
                        <td>@dr["artist"]</td>
                        <td>@dr["year"]</td>
                        <td>@dr["genre"]</td>
                        <td>@dr["file"]</td>
                        <td>
                            <button onclick="play_Audio()" type="button">Play Audio</button>
                            <button onclick="pause_Audio()" type="button">Pause Audio</button>
                        </td>
                        <td><a href="Deletesong.cshtml?id=@dr["id"]">verwijderen</a></td>
                    </tr>
                }
            </table>
            <div>
                <audio id="idAudio">
                    <source src="eric's_intro.mp3"
                            type="audio/mpeg">
                </audio>
                
            </div>

            <script>
                var GFG = document.getElementById("idAudio");

                function play_Audio() {
                    GFG.play();
                }

                function pause_Audio() {
                    GFG.pause();
                }
            </script>
        </main>
        <footer>Mathios & Niels</footer>
    </div>
</body>
</html>
